/* Write your CSS here */

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #f9d423, #e2a139);

  height: 100vh;
}
.coin-container {
  height: 400px;
  width: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  text-align: center;
  padding-top: 26px;
  padding: 50px;
}
.heading {
  color: #a35200;
  font-size: 26px;
  font-weight: 800;
  font-family: 'Roboto';
}
.description {
  color: #334155;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto';
}
.toss-img {
  height: 80px;
  width: 80px;
  margin-left: 10px;
}

.button-act {
  background-color: #f9d423;
  color: #a35200;
  height: 32px;
  width: 134px;
  border-radius: 8px;
  border-width: 0px;
  margin: 40px;
}
.count-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.count {
  margin: 20px;
}
